@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');

html {
	scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* banner */

.img-banner {
  width: 100%;


}

.img-banner img {
  width: 100%;
  margin-top: 50px;
  background-size: cover;
}

/* texto-banner */

.texto-banner {
  margin-top: -45%;
  margin-left: 5%;
  margin-right: 60%;
}

.texto-banner h1 {
  font-family: 'MontSerrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.texto-banner p {
  font-family: 'MontSerrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

/* botão quero conhecer */

.botao {
  appearance: none;
  background-color: #000;
  border: 1px solid #000000;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  font-family: 'Work Sans';
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;

}

.botao:disabled {
  pointer-events: none;
}

.botao:hover {
  color: #000;
  border: 1px solid #fff;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.botao:active {
  box-shadow: none;
  transform: translateY(0);
}

/* historia do rugby  */

.historia {
  margin-top: 25%;
  width: 100%;
  height: 500px;
  background-size: cover;
  padding-top: 5px;
}

.container-historia {
  margin-left: 60px;
  margin-top: 20px;
  padding-top: 10px;
  width: 90%;
  height: 400px;
  border-radius: 5px;
  background-color:  #154364;

}

.texto-historia {
  color: #FFF;
  margin-left: 30px;
  width: 50%;
  font-family: 'Work Sans';
  line-height: 1.8;
  text-align: justify;

}

.texto-historia h1 {
  margin-left: 15%;
}

.foto-historia {
  width: 40%;
  height: 300px;
  margin-top: -28%;
  margin-left: 58%;
  border-radius: 10px;
  background-image: url(cbruvsallblacks.jpg);
  background-size: cover;
}


.segunda-historia {
  margin-top: -2%;
  width: 90%;
  height: 540px;
  margin-left:4.5%;
  border-radius: 5px;
  padding-top: 30px;
  background-color: #154364;
}

.segunda-historia p {
  color: #fff;
  margin-left: 10%;
  width: 80%;
  margin-top: 10px;
  font-family: 'Work Sans';
  line-height: 1.8;
  text-align: justify;
}

.segunda-historia h1{
  color: #fff;
  margin-left: 10%;
  width: 80%;
  margin-top: 10px;
  font-family: 'Work Sans';
  line-height: 1.8;
  text-align: justify;
}

.banner-times{
  background-color: #154364;
  padding-top: 30px;
  margin-top: 5%;
  width: 90%;
  height: 700px;
  margin-left:4.5%;
  border-radius: 5px;
}
.banner-times p{
  margin-left:40%;
  color: #fff;
  font-size:30px ;
  font-family: 'Work Sans';
}


.card-times{
  width: 22%;
  height: 35%;
  margin-left:1.5%;
  background-image: url(/Projeto-Individual---Rugby/images/guardioes.jpg);
  border-radius: 5%;
  background-size: cover;
  float: left;
}

.card-times2{
  width: 22%;
  height: 35%;
  margin-left:2.5%;
  background-color: #FFF;
  border-radius: 5%;
  background-image: url(/Projeto-Individual---Rugby/images/spac.png);
  background-size: cover;
  float: left;
}
.card-times3{
  width: 22%;
  height: 35%;
  margin-left:2.5%;
  background-color: #FFF;
  border-radius: 5%;
  background-image: url(/Projeto-Individual---Rugby/images/pasteur.jpg);
  background-size: cover;
  float: left;
}
.card-times5{
  width: 22%;
  height: 35%;
  margin-left:3.5%;
  background-color: #FFF;
  border-radius: 5%;
  background-image: url(/Projeto-Individual---Rugby/images/melina.png);
  background-size: cover;
  float: left;
}
.card-times6{
  width: 22%;
  height: 35%;
  margin-left:1.5%;
  background-color: #FFF;
  border-radius: 5%;
  background-image: url(/Projeto-Individual---Rugby/images/farrapos.jpg);
  background-size: cover;
  float: left;
  margin-top: 30px;
}
.card-times7{
  width: 22%;
  height: 35%;
  margin-left:2.5%;
  background-color: #FFF;
  border-radius: 5%;
  background-image: url(/Projeto-Individual---Rugby/images/rio\ branco.jpg);
  background-size: cover;
  float: left;
  margin-top: 30px;
}
.card-times8{
  width: 22%;
  height: 35%;;
  margin-left:2.5%;
  background-color: #FFF;
  border-radius: 5%;
  background-image: url(/Projeto-Individual---Rugby/images/jacarei.png);
  background-size: cover;
  float: left;
  margin-top: 30px;
}
.card-times9{
  width: 22%;
  height: 35%;
  margin-left:3.5%;
  background-color: #FFF;
  border-radius: 5%;
  background-image: url(/Projeto-Individual---Rugby/images/RPT.jpg);
  background-size: cover;
  float: left;
  margin-top: 30px;
}
.txt-msg{
  color: #FFF;
  margin-left: 180px;
  font-size: 20px;
  width: 50%;
  font-family: 'Work Sans';
  line-height: 1.8;
  text-align: justify;

}

.txt-msg a{
  text-decoration: none;
}

#historia{
    margin-top: 10%;
}
